<div class="container">
  <mdb-navbar SideClass="navbar fixed-top navbar-expand-lg navbar-dark bg-cyan  scrolling-navbar"
              [containerInside]="false">
    <links>
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search patient">
          </div>
        </div>
      </form>
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Add patient</a></li>
      </ul>
    </links>
  </mdb-navbar>

</div>

<div class="row">
  <div class="col-md-3">
    <app-patients></app-patients>
  </div>
  <div class="col-md-2">
    <app-patient></app-patient>
  </div>

  <div class="col-md-7" style="background-color: black">

  </div>
</div>

